<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.project.mapper.DirectorMovieMapper">

    <resultMap id="BaseResultMap" type="com.lc.project.model.entity.DirectorMovie">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="directorId" column="directorId" jdbcType="INTEGER"/>
            <result property="movieId" column="movieId" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,directorId,movieId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
