<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.project.mapper.FriendsRequestMapper">

    <resultMap id="BaseResultMap" type="com.lc.project.model.entity.FriendsRequest">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="sendUserId" column="sendUserId" jdbcType="VARCHAR"/>
            <result property="acceptUserId" column="acceptUserId" jdbcType="VARCHAR"/>
            <result property="requestDateTime" column="requestDateTime" jdbcType="TIMESTAMP"/>
            <result property="creatTime" column="creatTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <association property="otherUsers"   javaType="com.lc.project.model.entity.Users" >
                <id property="id" column="acceptUserId" jdbcType="VARCHAR"/>
                <result property="username" column="username" jdbcType="VARCHAR"/>
                <result property="faceImage" column="face_image" jdbcType="VARCHAR"/>
                <result property="signature" column="signature" jdbcType="VARCHAR"/>
                <result property="sex" column="sex" jdbcType="VARCHAR"/>
                <result property="likeType" column="likeType" jdbcType="VARCHAR"/>
                <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
                <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
                <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,send_user_id,accept_user_id,
        request_date_time,creatTime,updateTime,state,
        isDelete
    </sql>

    <update id="updateRequestMessageToOne">
        update friends_request set state = 1 where sendUserId = #{currentId} and isDelete = 0 and state = 3
    </update>
    <update id="updateRequestMessageToTwo">
        update friends_request set state = 2 where sendUserId = #{currentId} and isDelete = 0 and state = 4
    </update>
    <update id="updateRequestLineToOne">
        update friends_request set state = 1 where sendUserId = #{currentId} and isDelete = 0 and state = 5
    </update>
    <update id="updateRequestLineToTwo">
        update friends_request set state = 2 where sendUserId = #{currentId} and isDelete = 0 and state = 6
    </update>

    <select id="getRequestByUserId" resultMap="BaseResultMap">
        select f.*,u.* from friends_request f
            left join users u on f.acceptUserId = u.id
                 where f.isDelete = 0 and f.sendUserId = #{currentUserId}
    </select>

    <select id="getReceiveByUserId" resultMap="BaseResultMap">
        select f.*, u.* from friends_request f
                                 left join users u on f.sendUserId = u.id
        where f.isDelete = 0 and f.acceptUserId = #{currentUserId}
    </select>
</mapper>
