<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.project.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="com.lc.project.model.entity.Movie">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="movieName" column="movieName" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="nation" column="nation" jdbcType="VARCHAR"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="directorName" column="directorName" jdbcType="VARCHAR"/>
            <result property="actorsName" column="actorsName" jdbcType="VARCHAR"/>
            <result property="movieProfile" column="movieProfile" jdbcType="VARCHAR"/>
            <result property="videoId" column="videoId" jdbcType="INTEGER"/>
            <result property="creatTime" column="creatTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="hot" column="hot" jdbcType="DOUBLE"/>
            <association property="movieType" javaType="com.lc.project.model.entity.MovieType">
                <id property="id" column="type" jdbcType="INTEGER"/>
                <result property="typeName" column="typeName" jdbcType="VARCHAR"/>
                <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            </association>
            <association property="movieNation">
                <id property="id" column="nation" jdbcType="INTEGER"/>
                <result property="nationName" column="nationName" jdbcType="VARCHAR"/>
                <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            </association>
            <association property="movieYear">
                <id property="id" column="year" jdbcType="INTEGER"/>
                <result property="yearName" column="yearName" jdbcType="VARCHAR"/>
                <result property="createTiem" column="createTiem" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,movieName,type,
        nation,year,
        actorsName,movieProfile,videoId,directorName,price,
        creatTime,updateTime,state,
        isDelete,userId,score,img,
        hot
    </sql>

    <select id="getMovieHotListByType" resultMap="BaseResultMap">
        select m.*, mt.typeName,my.yearName,mn.nationName
        from movie m
                 left join movie_type mt on m.type = mt.id
                 left join movie_year my on m.year = my.id
                 left join moive_nation mn on m.nation = mn.id
        where type = #{type} and m.isDelete = 0
        order by hot desc limit 5
    </select>
    <select id="getMovieAndTypeNameById" resultMap="BaseResultMap">
        select m.*, mt.typeName,my.yearName,mn.nationName
        from movie m
                 left join movie_type mt on m.type = mt.id
                 left join movie_year my on m.year = my.id
                 left join moive_nation mn on m.nation = mn.id
            and m.isDelete = 0
        where m.id = #{id}
    </select>

    <select id="getMovieIndexListByType" resultMap="BaseResultMap">
        select m.*, mt.typeName,my.yearName,mn.nationName
        from movie m
                 left join movie_type mt on m.type = mt.id
                 left join movie_year my on m.year = my.id
                 left join moive_nation mn on m.nation = mn.
            and m.isDelete = 0
        where type = #{type} limit 6
    </select>

    <select id="getAllHotMovieOrderByHot" resultMap="BaseResultMap">
        select m.*, mn.nationName
        from movie m
                 left join moive_nation mn on m.nation = mn.id and m.isDelete = 0
        order by hot desc limit 12
    </select>

</mapper>
